<div class="top-home">
  <div class="title-home">
    <h1>Flavor It</h1>
    <h2>Your personals recipes</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum nam cumque voluptatibus voluptatum molestias
      provident error doloremque? Ipsum.</p>
    <a class="btn btn-outline-danger" href="/auth/signup">Create your account</a>
  </div>
</div>
<div class="searchRow">
  <form>
    <select>
      <option value="Drinks">Drinks</option>
      <option value="Dessert">Dessert</option>
      <option value="Mains">Mains</option>
      <option value="Breakfast">Breakfast</option>
      <option value="Snacks">Snacks</option>
    </select>
    <input type="text" class="form-control">
    <div>
      <button class="btn btn-outline-secondary" type="button">Search</button>
    </div>
  </form>
</div>