<div class="top-home">
  <div class="title-home">
    <h1>Flavor It</h1>
    <h2>Your personals recipes</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum nam cumque voluptatibus voluptatum molestias
      provident error doloremque? Ipsum.</p>
    <a class="btn btn-outline-danger" href="/auth/signup">Create your account</a>
  </div>
</div>
<br>
<div class="title">
  <h1>Recipes</h1>
</div>
<div class="flex-container">
  {{#each recipes}}
  <div class="each-recipe">
    <a href="recipe/{{_id}}">
      <img src="{{image}}">
      <p>{{title}}</p>
    </a>
  </div>
  {{/each}}
</div>