<div class="top-home">
  <div class="title-home">
    <h1>FLAVOR IT</h1>
    <h2>A real food lovers' community</h2>
    <p>FLAVOR IT is a place for food lovers to share the favorite recipes&#10;and follow our food lovers.&#10;Here you
      can connect all food lovers in the world.</p>
    {{#if loggedIn}}
    <a class="btn btn-outline-info" href="/recipe/create">Create Recipe</a>
    {{else}}
    <a class="btn btn-outline-danger" href="/auth/signup">Create your account</a>
    {{/if}}
  </div>
</div>
<br>
<div class="title">
  <h1>Recipes</h1>
</div>
<div class="flex-container">
  {{#each recipes}}
  <div class="each-recipe">
    <a href="recipe/{{_id}}">
      <img src="{{image}}">
      <p>{{title}}</p>
    </a>
  </div>
  {{/each}}
</div>