<div class="user-like-details">
  {{!-- for header img --}}
</div>
<div class="title">
  <h1>{{userProfile.username}}</h1>
  <h4>Likes</h4>
</div>
<div class="flex-container">
  {{#each recipes}}
  <div class="each-recipe">
    <a href="/recipe/{{_id}}">
      <img src="{{image}}">
      <p>{{title}}</p>
    </a>
  </div>
  {{/each}}
</div>