* {
  margin: 0;
  padding: 0;
}

body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#nav {
  width: 100vw;
  height: 7vh;
  display: flex;
  justify-content: space-between;

  a {
    margin-left: 15px;
  }
}

// HOME
.top-home {
  background-image: url("../images/bg-home.png");
  background-size: cover;

  width: 100vw;
  height: 70vh;

  color: white;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  .title-home {
    width: 40vw;
    height: 30vh;

    margin-right: 10vw;

    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 2rem;
    }
    p {
      font-size: 1.2rem;
    }
    a {
      color: white;
      border-color: white;
    }
    a:hover {
      border-color: #dc3545;
    }
  }
}

// SEARCH ROW
.searchRow {
  height: 7vh;
  display: flex;
  form {
    display: flex;
    align-items: center;
  }
}

// RECIPES
.title {
  padding: 5vh 2vw 0;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  padding: 5vh 2vw;

  .each-recipe {
    width: 17vw;

    text-align: center;
    margin: 0 2vw 5vh 0;

    background-color: #dc3545;

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 250px;
    }
    p {
      margin-top: 12px;
      color: white;
      font-size: 1.4rem;
    }
  }

  .each-recipe:hover {
    background-color: #db1e2b;

    a {
      text-decoration: none;
    }
  }
}

//create-recipt-form
.subpage-header,
.recipe-details-header {
  background-image: url("../images/header-create-recipe.jpg");
  background-size: cover;

  width: 100vw;
  height: 11rem;

  padding: 5vh 2vw;
}

.subpage-title {
  color: white;
}

.recipe-layout-container {
  margin-top: 5vw;
  margin-bottom: 1rem;
  padding-left: 9vw;
  padding-right: 10vw;
  h3 {
    font-style: italic;
  }

  #source-note {
    font-size: 0.8rem;
  }

  #add-ingredient-btn {
    padding: 0.2rem 0.4rem;
    margin-bottom: 0.6rem;
  }

  .del-btn {
    padding: 0.1rem 0.3rem;
    margin-bottom: 0.74rem;
  }

  #amount-display > p {
    text-align: right;
  }

  .recipe-img-container {
    background-color: #ddd;
    margin-bottom: 2rem;
    padding: 0;
  }
  .warning-msg {
    color: red;
  }
}

//recipe-detail
.recipe-img {
  width: 100%;
}

.recipe-details-header {
  background-image: url("../images/recipe-detail-header.jpg");
  background-size: cover;
}

.recipe-lines {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#dish-tag-1,
.dish-tag-1,
#dish-tag-2,
#dish-tag-3 {
  color: #212529;
  background-color: #f7d488;
  font-weight: 700;
  border-color: #f7d488;
  border-radius: 5px;
  text-align: center;
  padding: 0.8rem 1rem;
}

#dish-tag-2 {
  color: #212529;
  background-color: #d5a021;
  border-color: #d5a021;
}

#dish-tag-3 {
  color: #bec5ad;
  background-color: #1d3d31;
  border-color: #1d3d31;
}

#source,
#creator {
  color: #965518;
  font-weight: 700;
}

.like-btn-off,
.follow-btn-off {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-weight: 700;
}

#edit-del-btn-container {
  margin-top: 1vw;
  margin-bottom: 3vw;
}

#del-recipe-btn,
.follow-btn-off {
  margin-left: 0.5rem;
}

[like="true"] {
  background-color: brown;
  color: white;
}
