* {
  margin: 0;
  padding: 0;
}

body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navbar-brand {
    margin-bottom: 8px;
    font-size: 1.5rem;
  }
}

// HOME
.top-home {
  background-image: url("../images/bg-home.png");
  background-size: cover;

  height: 75vh;
  color: white;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  .title-home {
    width: 40vw;
    height: 35vh;

    margin-right: 10vw;

    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 2rem;
    }
    p {
      font-size: 1.2rem;
    }
    a {
      color: white;
      border-color: white;
    }
    a:hover {
      border: none;
    }
  }
}

// SEARCH ROW
.searchRow {
  display: flex;
  margin-bottom: 8px;
  form {
    display: flex;
    align-items: center;
  }
}

// RECIPES
.title {
  padding: 5vh 2vw 0;
  display: flex;
  img {
    border-radius: 50%;
    width: 7%;
    height: 7%;
  }
  a {
    text-decoration: none;
    color: darkgray;
  }
  a:hover {
    color: gray;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  padding: 5vh 0;
  padding-left: 2vw;

  .each-recipe {
    width: 17vw;

    text-align: center;
    margin: 0 2vw 5vh 0;

    background-color: #8c1c13;

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 250px;
    }
    p {
      margin-top: 12px;
      color: white;
      font-size: 1.4rem;
    }
  }

  .each-recipe:hover {
    background-color: #2c0703;

    a {
      text-decoration: none;
    }
  }
}
.verticalLine {
  border-left: 2px solid #8c1c13;
  height: 40px;
  margin: 0 2vw;
}

// USER profile
.user-title {
  margin-top: 5vh;
}
.user-img-container {
  padding: 3vh 3vw;
  .user-img {
    border-radius: 50%;
    width: 100%;
  }
}
.user-layout-recipes {
  margin: 0 5vw;
}

//recipe-detail
.recipe-img {
  width: 100%;
}

//create-recipt-form
.subpage-header,
.recipe-details-header {
  background-image: url("../images/header-create-recipe.jpg");
  background-size: cover;
  height: 11rem;
}

.subpage-title {
  padding: 9vh 0 0 5%;
  color: white;
}

.recipe-layout-container {
  margin-top: 5vw;
  margin-bottom: 1rem;
  padding-left: 9vw;
  padding-right: 10vw;
  h3 {
    font-style: italic;
  }
  .recipe-layout {
    padding: 4vh 4vw;
    .recipe-title {
      padding-bottom: 2vh;
    }
  }
  #source-note {
    font-size: 0.8rem;
  }

  #add-ingredient-btn {
    padding: 0.2rem 0.4rem;
    margin-bottom: 0.6rem;
  }

  .del-btn,
  .old-gredient {
    padding: 0.1rem 0.3rem;
    margin-bottom: 0.74rem;
  }

  #amount-display > p {
    text-align: right;
  }

  .recipe-img-container {
    background-color: #dadada;
    margin-bottom: 2rem;
    padding: 0;
    img {
      width: 100%;
    }
  }

  .recipe-img-container-detail {
    background-color: white;
    img {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .warning-msg {
    color: red;
  }
}
.min {
  padding-top: 10px;
}

#method-container-create,
#method-container-update,
.recipe-layout-right {
  padding-left: 5%;
}

.recipe-details-header {
  background-image: url("../images/recipe-detail-header.jpg");
  background-size: cover;
}

.recipe-lines {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.dish-tag-1 {
  color: #212529;
  background-color: #f7d488;
  font-weight: 700;
  border-color: #f7d488;
  border-radius: 5px;
  text-align: center;
  padding: 0.8rem 1rem;
}

.strong {
  font-weight: 700;
}

.like-btn-off,
.follow-btn-off {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-weight: 700;
}

#edit-del-btn-container {
  margin-top: 1vw;
  margin-bottom: 3vw;
}

#del-recipe-btn,
.follow-btn-off {
  margin-left: 0.5rem;
}

[like="true"] {
  background-color: brown;
  color: white;
}
.field-style {
  margin: 0;
  padding: 0;
}

#comment-textarea-container > textarea {
  width: 100%;
  height: 120px;
  text-align: start;
}

#comment-box {
  .each-comment-box {
    display: flex;
    margin: 25px 16px;
  }

  a {
    text-decoration: none;
    font-weight: 700;
    color: black;
  }
}

.comment-user-img {
  width: 43px;
  border-radius: 50%;
}

.del-comment-btn {
  padding: 0;
  border: none;
  background: none;
  color: gray;
}
.del-comment-btn:hover {
  color: red;
}

// LOGIN

.login-form {
  background-image: url("../images/bg-login.jpeg");
  background-repeat: none;
  background-position: center;
  background-size: cover;
  height: 85vh;

  text-align: center;
  color: #dc3545;

  .login-container {
    width: 40vw;
    padding-top: 10vh;
    padding-left: 10vw;
    margin: 0;
  }
  .input {
    border: 0;
    background: none;
    display: block;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #dc3545;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 25px;
    transition: 0.5s;
  }
  .input:focus {
    width: 280px;
    border-color: #ff4c45;
  }

  .button {
    border: 0;
    background: none;
    display: block;
    margin: 0 auto 10px;
    text-align: center;
    border: 2px solid #dc3545;
    padding: 14px 2vw;
    outline: none;
    color: #dc3545;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s;
  }

  .button:hover {
    background: #ff4c45;
    color: white;
  }
}

.profile-header {
  background-image: url("../images/halloween-header.jpg");
  background-size: cover;
  height: 11rem;
}

.recipe-detail-header {
  background-image: url("../images/header-steak.jpg");
  background-size: cover;
  height: 11rem;
}

.search-header {
  background-image: url("../images/BlogHeader.jpg");
  background-size: cover;
  height: 11rem;
  text-align: end;
  padding-right: 15vw;
}

.user-like-details {
  background-image: url("../images/abc (2).jpg");
  background-size: cover;
  height: 11rem;
}

.user-following {
  background-image: url("../images/greens.jpg");
  background-size: cover;
  background-position: center;
  height: 11rem;
}

.user-recipe {
  background-image: url("../images/header-vege.jpg");
  background-size: cover;
  height: 11rem;
}

.profile-span {
  color: gray;
  font-size: 1.4rem;
  vertical-align: middle;
  margin-left: 10px;
}

footer {
  background-color: #efefef;
  margin: 0;
  padding: 0.6rem;

  p {
    margin: 0.1rem 0;
  }

  img {
    width: 16px;
  }
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: #8c1c13;
    text-decoration: none;
  }
}

@media (min-width: 576px) {
  #ingredient-display {
    padding-right: 30%;
  }
}

@media (max-width: 576px) {
  .flex-container {
    justify-content: start;
    margin-left: 2vw;
    .each-recipe {
      width: 45vw;
      img {
        height: 45vw;
      }
    }
  }

  .title > h1 {
    padding-left: 5%;
    margin: 0;
    font-size: 26px;
  }

  .profile-container {
    justify-content: start;
    margin-left: 0;
    padding-left: 0;
    .each-recipe {
      width: 38vw;
      img {
        height: 40vw;
      }
    }
  }

  .user-layout-recipes > div > div > h1 {
    font-size: 26px;
  }

  .login-form {
    height: 80vh;
  }

  .login-form > .login-container {
    width: 100vw;
    padding: 10vw;
  }

  .top-home {
    justify-content: flex-start;
    .title-home {
      height: 50vh;
      margin-left: 10vw;
      h1 {
        font-size: 1.8rem;
      }
      h2 {
        font-size: 1.2rem;
      }
      p {
        display: none;
      }
    }
  }

  .search-header {
    padding-right: 10vw;
  }

  .title > img {
    border-radius: 50%;
    width: 25%;
    margin-left: 10px;
  }

  #method-container-create,
  #method-container-update {
    padding-left: 2%;
  }

  #comment-box {
    .each-comment-box {
      margin: 16px 0px 25px 0px;
    }
  }
}
