<div class="subpage-header">
  <h1 class="subpage-title">Create Recipe</h1>
</div>


<form action="/recipe/create" method="POST" enctype="multipart/form-data">

  <div class="container-fluid recipe-layout-container">
    <div class="recipe-layout-top row mb-5">
      <div class="recipe-img-container col-md-5">
        <div id="image-input-div">
          <input id="image" type="file" name="imagePath"
            data-arg1="https://res.cloudinary.com/dqrjpg3xc/image/upload/v1575651991/kiez/default-event-img.jpg.jpg"
            onchange="previewImg()">
        </div>
        <img src="https://res.cloudinary.com/dqrjpg3xc/image/upload/v1575651991/kiez/default-event-img.jpg.jpg"
          class="imgOutput" alt="image preview">
      </div>

      <div class="recipe-layout-right col-md-7">

        <div class="form-row">

          <div class="form-group col-12">
            <label for="title">Recipe Title: *</label>
            <input class="form-control" type="text" name="title" id="title" placeholder="Title of Recipe" required>
          </div>


          <div class="form-group col-md-5">
            <label for="dishType">Dish Type: *</label>
            <select class="form-control" id="dishType" name="dishType" required>
              <option value="">choose Dish Type</option>
              <option value="Mains">Mains</option>
              <option value="Breakfast">Breakfast</option>
              <option value="Snacks">Snacks</option>
              <option value="Dessert">Dessert</option>
              <option value="Drinks">Drinks</option>
            </select>
          </div>

          <div class="form-group col-md-4">
            <div>
              <label for="preparationTime">Preparetion time: *</label>
            </div>

            <div class="row">
              <div class="col-8">
                <input class="form-control" type="number" id="preparationTime" name="preparationTime" min="1" required>
              </div>
              <div class="min">
                <span>min</span>
              </div>
            </div>
          </div>

          <div class="form-group col-md-3">
            <label for="portions">Portion(s) *:</label>
            <input class="form-control" type="number" id="portions" name="portions" min="1" required>
          </div>

          <div class="form-group col-12">
            <label for="source">Source / Additional Info: </label>
            <textarea class="form-control" name="source" id="source" maxlength="200"></textarea>

            <p id="source-note">
              If you are not the original author of this recipe , enter the original author's name or source here to
              give
              them credit
            </p>
          </div>

          <div class="form-group col-12">
            <p>Creator: <strong>{{loggedIn.username}}</strong></p>
          </div>

        </div>
      </div>
    </div>

    <div class="form-row recipe-layout-bottom">
      <div class="col-md-5">
        <label for="name">
          <h3>Ingredients: *</h3>
        </label>

        <div class="container-fluid mb-5" id="the-great-div">

          <div class="row">
            <div class="field-style form-group col-5">
              <input class="form-control" type="text" id="name" name="name" placeholder="e.g. Apple" required>
            </div>

            <div class="field-style form-group col-3">
              <input class="form-control" type="number" name="qty" placeholder="qty" min="1">
            </div>

            <div class="field-style form-group col-3">
              <select name="unit" class="form-control unit-selector">
                <option value="">unit</option>
                <option value="">N/A</option>
                <option value="gram">gram</option>
                <option value="ml">ml</option>
                <option value="teaspoon">teaspoon</option>
                <option value="tablespoon">tablespoon</option>
              </select>
            </div>

            <div class="field-style form-group col-1">
              <button id="add-ingredient-btn" type="button">&#43</button>
            </div>
          </div>

        </div>

      </div>

      <div class="col-md-7" id="method-container-create">
        <label for="method">
          <h3>Method: *</h3>
        </label>
        <textarea class="form-control" name="method" id="method" rows="10" required
          placeholder='Use <<enter>> to seperate each steps. &#10;No need to use number or bullet points. &#10;&#10;format example: &#10;Preheat the oven to 200°C/400°F/gas 6. &#10;Peel and chop all the potatoes into rough 2cm chunks.'></textarea>
      </div>

    </div>
  </div>

  <div class="form-row d-flex justify-content-center my-5">
    <div class="rol">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </div>
</form>

<script src="/javascripts/ingredient-input.js"></script>
<script src="/javascripts/preview-img.js"></script>